//Variaveis

//Cores
$color_one: #F9F9F9; //body
$color_two: #000A1E; //header
$color_three: #777777; //header

//Fontes
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

$font_nunito: 'Nunito', sans-serif;